.projects-header{
    color: var(--text-secondary);
    padding: var(--container-padding);
    font-size: 24px;
}
.project-card{
    max-width: var(--container-max-width);
    width: 100%;
    background: var(--container-bg);
    margin: 10px 0;
    border-radius: var(--border-radius);
    border-top: 5px solid var(--text-secondary);
}
.project-card:hover{
    border-top: 5px solid var(--text-primary);
    transition: all .4s ease-in-out;
}
.project-header, .project-footer{
    padding: var(--container-padding);
}
.project-header h4{
    color: var(--text-secondary);
    padding-bottom: 20px;
}
.project-header p, .project-footer p{
    color: var(--text-secondary);
    padding-bottom: 20px;
    line-height: 1.3;
}
.project-card a img{
    width: 100%;
}
.project-footer p{
    color: #74AAB0;
    padding-bottom: 20px;
}