.header h1{
    color: var(--text-primary);
    padding-bottom: 20px;
}
.header h3{
    color: var(--text-secondary);
    font-weight: 400;
}
.header-top{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.photo {
    width: 75px;
    margin-right: 20px;
}
.photo img{
    width: 100%;
}