@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
body {
    background:#13293D;
}
:root {
    --container-bg: #204566;
    --container-padding: 20px;
    --container-margin: 12px;
    --text-primary: #63C132;
    --text-secondary: #BFD8DB;
    --border-radius: 5px;
    --container-max-width: 700px;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
}

a {
    text-decoration: none;
    color: var(--text-secondary);
}
a:hover {
    color: #FFF;
}

p {
    color: var(--text-secondary);
}